body {
  background-color: rgba(208, 235, 245, 0.493);
}

.app {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'sans-serif';
  border: 3px solid rgb(74, 77, 74);
  text-align: center;
  background-color: rgb(104, 102, 102);
}

.btn {
  display:inline-block;
  padding:0.5em 2.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:500;
  color:#2b2a29;
  text-align:center;
  transition: all 0.15s;
  }

.btn:hover{
  color:#f7eeee;
  background-color:#2b2a29;
  }

@media all and (max-width:30em){
.btn{
 display:block;
 margin:0.4em auto;
  }
  }


.results {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: 'sans-serif';
    border: 3px solid rgb(74, 77, 74);
    text-align: center;
    background-color: gray;
  }

  .score {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: 'sans-serif';
    border: 3px solid rgb(120, 126, 120);
    text-align: center;
    background-color: rgb(161, 161, 161);
  }
